<div *ngIf="control">
  <label [for]="id">
    {{ label }} <span *ngIf="isRequired" class="text-red-500">*</span>
  </label>
  <input
    [id]="id"
    [type]="type"
    [formControl]="control"
    [placeholder]="placeholder"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:outline-blue-500 focus:outline-2 block w-full p-2"
  />

  <app-validation-errors
    [errors]="control.errors"
    [customErrorMessages]="customErrorMessages"
  ></app-validation-errors>

  
</div>
